body{
    background-color: blanchedalmond;
}
.wrapper{
    padding: 0.1cm;
    margin: 0.1cm;
    background-color: rgb(93, 122, 122);
}
.chat_box{
    background-color: aquamarine;
}
.chat{
    background-color: azure;
}