body{
    background-color: rgb(55, 58, 68);
}
.wrapper{
    padding: 0.1cm;
    
    background-color: rgb(46, 53, 53);
    margin: 0 auto;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    max-width: 20cm;
}
.chat_box{
    background-color: rgb(84, 88, 102);
}
.chat{
    padding: 0.1cm;
    background-color: rgb(98, 109, 109);
}